[user]
	email = jiexiluan@gmail.com
	name = Jiexi Luan
[alias]
	# git-town
	abort = town abort
	append = town append
	continue = town continue
	hack = town hack
	new-pull-request = town new-pull-request
		pr = new-pull-request
		new-merge-request = new-pull-request
		mr = new-pull-request
	prepend = town prepend
	prune-branches = fetch --prune --tags
		pb = prune-branches
	repo = town repo
	set-parent-branch = town set-parent-branch
	ship = town ship
	sync = town sync
	undo = town undo
	# regular
	st = status
	co = checkout
	br = branch
	ci = commit
	pr = town propose
	unstage = reset HEAD --
	restart = reset HEAD --hard
	all = add --all
	trigger = commit --allow-empty -m "Trigger"
	propose = town propose
	set-parent = town set-parent
	delete = town delete
	rename = town rename
[merge]
	conflictstyle = diff3
[core]
	ignorecase = false
	excludesFile = ~/.gitignore
