# VSCode
Code - OSS/*
!Code - OSS/README.md
!Code - OSS/init.sh
!Code - OSS/save-extensions.sh
!Code - OSS/User
Code - OSS/User/*
!Code - OSS/User/
!Code - OSS/User/snippets/
!Code - OSS/User/settings.json
!Code - OSS/User/keybindings.json

# Others
Hamsket/
Popcorn-Time/
Unknown Organization/
autostart/
configstore/
dleyna-*
dconf/
enchant/
evolution/
gedit/
goa-*/
google-chrome/
gtk-*/
htop/
jesseduffield/
monitors.xml*
nautilus/
pavucontrol.ini
paperwm/
pulse/
user-dirs.*
vlc/
zoomus.conf
