# VSCode
Code/*
!Code/README.md
!Code/init.sh
!Code/save-extensions.sh
!Code/User
Code/User/*
!Code/User/
!Code/User/snippets/
!Code/User/settings.json
!Code/User/keybindings.json

# Others
Hamsket/
Ganache/
Popcorn-Time/
Postman/
Unknown Organization/
autostart/
configstore/
dconf/
deluge/
dleyna-*
enchant/
eog/
evolution/
gedit/
goa-*/
google-chrome/
gtk-*/
htop/
jesseduffield/
menus/
monitors.xml*
nautilus/
neofetch/
pavucontrol.ini
paperwm/
pulse/
totem/
user-dirs.*
vlc/
yarn/
zoomus.conf
