# VSCode
Code/*
!Code/README.md
!Code/init.sh
!Code/save-extensions.sh
!Code/User
Code/User/*
!Code/User/
!Code/User/snippets/
!Code/User/settings.json
!Code/User/keybindings.json

# Others
Authy Desktop/
Bitwarden/
Hamsket/
Ferdi/
Ganache/
Ledger Live/
Popcorn-Time/
Postman/
QtProject.conf
Unknown Organization/
autostart/
chromium/
configstore/
dconf/
deluge/
dleyna-*
enchant/
eog/
evince/
evolution/
filezilla/
fonts/dist/.uuid
gconf/
gedit/
goa-*/
google-chrome*/
gtk-*/
htop/
jesseduffield/
libreoffice/
menus/
monitors.xml*
nautilus/
neofetch/
obs-studio/
octave/
pavucontrol.ini
paperwm/
pipewire-media-session/
pulse/
sublime-merge/
tlpui/
totem/
truffle/
user-dirs.*
vlc/
yarn/
zoomus.conf
