* {
    border: none;
    border-radius: 0;
    /* font-family: "M+ 1c", Material Design Icons; */
    /* font-family: "Inter", Material Design Icons; */
    /* font-family: "Bitstream Vera Sans", Material Design Icons; */

    /* font-family: "Cantarell", Material Design Icons; */
    font-family: "SF Pro Display", Material Design Icons;
    /* font-family: "Open Sans", Material Design Icons; */
    /* font-family: "Proxima Nova", Material Design Icons; */

    /* font-family: "Source Sans Pro", Material Design Icons; */
    font-size: 15px;
    min-height: 0;
    /* opacity: 0.8; */
}

window#waybar {
    font-weight: 500;
    /* background: rgba(11, 12, 13, 0.90); */
    background: rgba(245,245,245,0.0);
    /* background: rgb(0,0,0); */
    /* background: linear-gradient(180deg, rgba(12,12,12,1) 0%, rgba(12,12,12,1) 17%, rgba(12,12,12,1) 33%, rgba(255,255,255,0) 100%); */
    /* border-bottom: 1px solid  rgba(0, 0, 2, 0.53); */
    /* color: #cfd6e6; */
    color: white;
}


#workspaces button {
    min-width: 30px;
    padding: 0px 3px 0px 3px;
    /* color: rgba(95, 111, 128, 0.73); */
}

#workspaces button.focused {
    color: gray;
}

#taskbar button:focus,
#taskbar button:active,
#taskbar button:hover {
    background: rgba(255, 255, 255, 0.00);
}

/* #taskbar button { */
/* } */

#taskbar {
    background: rgba(245,245,245,0.9);
    /* border-bottom: 3px solid rgb(210,98,115); */
    border-radius: 5px;
    padding: 0px 5px;
    /* opacity: 0.7; */
}

#taskbar button {
    border-top: 3px solid transparent;
    margin-bottom: 3px;
}

#taskbar button.active {
    color: rgb(210,98,115);
    border-top: 3px solid rgb(210,98,115);
    margin-bottom: 3px;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#custom-spotify,
#tray,
#mode
{
    /* font-size: 18px; */
    margin: 3px 5px 0px 5px;
}

#tray {
    margin-right: 0;
}

#pulseaudio {
    margin-left: 10px;
}

#mode {
    border-bottom: 1px solid white;
}


/* #battery.critical {
     color: #e06c75;
}
#battery.charging {
    color: #5288e2;
}
#battery.full {
    margin: 0px 0px 0px 0px;
} */


/* #network {
    border-top: 1px solid transparent;
}
#network.disconnected {
    margin: 0px 0px 0px 0px;
    color: rgba(75, 81, 98, 0);
}


#pulseaudio.muted {
    margin: 0px 0px 0px 0px;
    color: rgba(75, 81, 98, 0);
} */

#custom-power,
#custom-launcher
{
    color: rgb(245,245,245);
    background: rgb(210,98,115);
    font-size: 25px;
    padding: 2.5px 5px 0px 5px;
}

/* #custom-power {
    margin-left: 5px;
} */

/* #custom-launcher {
    margin-right: 5px;
} */
