* {
    border: none;
    border-radius: 0;
    /* font-family: "M+ 1c", Material Design Icons; */
    /* font-family: "Inter", Material Design Icons; */
    /* font-family: "Bitstream Vera Sans", Material Design Icons; */
    /* font-family: "Iosevka", Material Design Icons; */

    /* font-family: "Cantarell", Material Design Icons; */
    font-family: "SF Pro Display", Material Design Icons;
    /* font-family: "Open Sans", Material Design Icons; */
    /* font-family: "Proxima Nova", Material Design Icons; */

    /* font-family: "Source Sans Pro", Material Design Icons; */
    /* font-family: "Roboto", Material Design Icons; */

    font-size: 20px;
    min-height: 0;
}

window#waybar {
    font-weight: 500;
    /* background: rgba(11, 12, 13, 0.90); */
    background: rgba(245,245,245,0.9);
    /* background: #EAEDEE; */
    border-top: 3px solid rgb(210,98,115);
    /* background: rgb(0,0,0); */
    /* background: linear-gradient(180deg, rgba(12,12,12,1) 0%, rgba(12,12,12,1) 17%, rgba(12,12,12,1) 33%, rgba(255,255,255,0) 100%); */
    /* border-bottom: 1px solid  rgba(0, 0, 2, 0.53); */
    /* color: #cfd6e6; */
    color: rgb(88,88,88);
    /* color: rgb(80,80,80); */
}


#workspaces button {
    min-width: 30px;
    padding: 0px 3px 0px 3px;
    /* color: rgba(95, 111, 128, 0.73); */
}

#workspaces button.focused {
    color: rgb(210,98,115);
    border-bottom: 3px solid rgb(210,98,115);
    margin-top: 3px;
    /* margin: 2px 0px 2px 0px; */
}

#workspaces button:focus,
#workspaces button:active,
#workspaces button:hover {
    background: rgba(255, 255, 255, 0.00);
}

/* #taskbar button { */
/* } */

#taskbar button.active {
    color: rgb(210,98,115);
    border-bottom: 3px solid rgb(210,98,115);
    margin-top: 3px;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#bluetooth,
#custom-mute,
#custom-spotify,
#tray,
#mode,
#custom-yay,
#custom-dropbox,
#custom-docker,
#battery.batpercent,
#custom-notification,
#custom-nightlight,
#custom-egpu,
#custom-recording
{
    margin: 3px 4px 0px 4px;
}

#custom-docker {
    font-size: 24px;
}

#custom-recording {
    font-size: 22px;
    margin-right: 3px;
}

#custom-nightlight {}

#custom-notification {
    font-size: 19px;
    margin-top: 4px;
    margin-right: 3px;
}

#bluetooth {
    font-size: 20px;
    margin-top: 2px;
    margin-right: 1px;
}

#pulseaudio {
    font-size: 21px;
    margin-top: 2px;
    margin-right: 2px;
}

#network {
    margin-left: 2px;
    margin-right: 3px;
}

#battery {
    margin-left: 3px;
    margin-right: 0px;
}

#battery.batpercent {
    margin-left: 1px;
    padding-right: 4px;
    font-size: 17px;
}


#tray {
    margin-right: 0;
}

#mode {
    border-bottom: 1px solid white;
}

#custom-power,
#custom-launcher
{
    color: rgb(245,245,245);
    background: rgb(210,98,115);
    font-size: 25px;
    padding: 2.5px 5px 0px 5px;
}

/* #custom-power {
    margin-left: 5px;
} */

/* #custom-launcher {
    margin-right: 5px;
} */
